@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
main {
    width: 400px;
    height:480px;
    margin: auto;
    text-align: center;
    
    /* background:linear-gradient(#731D24, #BF1F2C); */ 
    
    padding: 32px;
    border-radius: 2rem;
    box-shadow: 0.5 black;
    position: relative;
}
h1 {
    color: #F2DB94;
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: 1;
}
body {
    font-family: Great Vibes, cursive;
}

img {
    width: 400px;
}

p {
    color: #F2DB94;
    position: absolute;
    top: 120px;
    left: 60px;
    z-index: 2;
    font-size: 32px;
}
