* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    height: 100vh;
    display: grid;

    grid-template-areas:
        "Header Header"
        "Main Aside"
        ". Aside"
        ". Aside"
        "Footer Footer";
    grid-template-columns: 120px 120px;
    grid-template-rows: 100px 150px 80px  100px 100px;
    
    padding: 16px;

    gap: 16px;

    /* justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center; */
}

header {
    background: lightskyblue;
    grid-area: Header;
}

h1 {
    font-size: 2.5rem;
}

main {
    background: lightgreen;
    grid-area: Main;
}

aside {
    background: lightcoral;
    grid-area: Aside;
}

footer {
    background: lightslategray;
    grid-area: Footer;
}