@import url(style.css);

.form-contact {
    animation :topDownOpacityAnimation 2000ms;
}

main {
    padding: 16rem;
}

main h1 {
    background: rgba(99, 42, 165, 0.751);
    color: white;
    padding: 16rem;
    text-align: center;
    border-radius: 8rem 8rem 0rem 0rem;

}
.form-contact label{
    /* text-align: ; */
}

.form-contact legend {
    display: none;
}

fieldset {
    padding: 16rem;
    border-radius: 0rem 0rem 8rem 8rem;
    background: rgba(165, 42, 42, 0.1);
    width: 328rem;
    border: solid 1rem  #e0ce2fe5;
}

.inputBox label {
    font-weight: bolder;
    color:rgb(255, 255, 255);
}

.inputBox input, .inputBox select, .inputBox textarea{
    width: 100%;
    margin-top: 4rem;
    padding: 4rem;
    border-radius: 4rem;
    border: solid 1rem #e0ba2f;

}

.inputBox input:focus, .inputBox select:focus {
    outline: solid 1rem   #e0ba2f;

}

.inputBox textarea {
    resize: none;
}

form button {
    width: 100%;
    padding: 8rem;
    background: #000000;
    color: white;
    font-weight: 700;
    font-size: 12rem;
    border: none;
    border-radius: 8rem;
    margin-top: 16rem;
    cursor: pointer;
}

form button:hover {
    background: #0CDB70;
}

@media (min-width: 480px) {
    .form-contact {
        display: flex;
        
    }
}
@keyframes topDownOpacityAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
        
    100% {

        opacity: 1;
        transform: translateY(0rem);
    }
}