* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 6.25%;

    scroll-behavior: smooth;
}

body { 
    font-size: 20rem;
    height: 100vh;
    width: 100%;
    
    background: rgba(158, 128, 6, 0.742);
}
header {

    width: 100%;
    height: 16vh;

    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 16rem;
    
    background: #000000;
}

header img {
    width: 35%;
    height: auto;
    padding-top: 20rem;
    object-fit: cover;
}

#homeMenu,
#articleMenu,
#contactMenu
{
    color: rgb(158, 128, 6);
}

nav ul{
    /* width: 200rem; */
    display: flex; 
    
    font-size: 16rem;
    
    list-style: none;
}

nav ul li {
    padding: 8rem;
    border-radius: 4rem;
}

nav ul li a{
    text-decoration: none;
}   
nav ul li:hover{   background: rgba(0, 0, 0, 0.354);
}

.showBarImages {
    
    width: 100%;
    height: 350rem;

    position: relative;

    overflow: hidden;
}


.showImage {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    opacity: 0;

    animation: showBarImageAnimation 15s;
    animation-iteration-count: infinite;
}
.showImage 

.showImage:nth-child(1) {
    animation-delay: 0s;
}

.showImage:nth-child(2) {
    animation-delay: 5s;
}

.showImage:nth-child(3) {
    animation-delay: 10s;
}
main {
    padding: 24rem;
}

.boxPlans {
    animation: topDownOpacityAnimation 2000ms;
}

article{
    display: flex;
    flex-direction: column;
    
}

main img {
    width: 100%;

}
.mainHome h1{
    font-size: 24rem;
    color: White;
    margin-bottom: 10rem;
    text-shadow: 1rem 1rem 2rem black;
} 
.mainHome h2{
    font-size: 24rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10rem;
    text-shadow: 1rem 1rem 2rem black;
}
.mainHome h3 {
    font-size: 24rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10rem;
    text-shadow: 1rem 1rem 2rem black;
} 

main article section.mainSections {
    display: flex;
    align-items: center;
    gap: 32rem;
    margin-bottom: 10rem;
}

footer {
    font-size: 24rem;
    padding: 16rem;
    width: 100%;
    height: 100%;
    background:  rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerLogo h2 h3{
    margin-top: 32rem;
    
}
.footerLogo img {
    width: 120rem;
    border-radius: 50%;
    margin-top: 32rem;
}
footer {
    color: white;
}
.footerLocal {
    margin-top: 12rem;

}
.footerLocal iframe {
    width: 100%;
    margin-top: 32rem;
    display: flex;
    flex-direction: column;
}
.footerSocialMediasImages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16rem;
}
.footerSocialMediasImages img {
    width: 70%;
    margin-top: 10rem;
}

@keyframes showBarImageAnimation {
    25% {
        opacity: 1;
        transform: scale(1.1);
    }

    50% {
        /* transform: translate(-100%); */
        opacity: 0;
    }
}

@media (max-width: 680px) {
    main article section {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 480px) {
    header img {
        width: 250rem;
        padding-left: 16rem;
    }
}

@keyframes topDownOpacityAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
        
    100% {

        opacity: 1;
        transform: translateY(0rem);
    }
}